<div id="loginDialog">
  <ul class="socialButtons">
    <li class="facebook">
      Sign In with Facebook
    </li>
    <li class="google">
      Sign In with Google
    </li>
    <li class="twitter">
      Sign In with Twitter
    </li>
  </ul>
</div>
