@headerHeight: 5em;
@footerHeight: 4em;

#mainPage{
  #header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @headerHeight;

    #title {
      position: absolute;
      top: 0.5em;
      left: 1em;
      margin-top: 0;
    }

    #userArea {
      position: absolute;
      top: 1em;
      right: 1em;

      #loggedOut, #loggedIn {
        cursor: pointer;
      }

      &.loggedOut {
        #loggedOut {
          display: block;
        }
        #loggedIn {
          display: none;
        }
      }
      &.loggedIn {
        #loggedOut {
          display: none;
        }
        #loggedIn {
          display: block;
        }
      }
    }
  }
  #body {
    position: absolute;
    top: @headerHeight;
    bottom: @footerHeight;
    left: 0;
    right: 0;
    overflow: auto;
  }
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: @footerHeight;

    background-color: black;
    color: white;
  }
}
#loginDialog {
  ul.socialButtons {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 300px;
      text-align: center;
      cursor: pointer;
      border: 1px solid black;
      background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      border-radius: 0.3em;
      margin: 0.5em;
      padding: 0.5em;

      &.google {
        background-color: #4e6cf7;
      }
      &.facebook {
        background-color: #4863AF;
      }
      &.twitter {
        background-color: #46c0fb;
      }

    }
  }
}
