<div>
  <div id="mainPage">
    <div id="header">
      <h1 id="title" data-dojo-attach-point="titleNode">${messages.title}</h1>
      <div id="userArea" class="loggedOut">
        <div id="loggedIn">Logged In</div>
        <div id="loggedOut">Logged Out</div>
      </div>
    </div>
    <div id="body">
    </div>
    <div id="footer">
    </div>
  </div>
</div>
