<div>
  <div id="mainPage">
    <div id="header">
      <h1 id="title" data-dojo-attach-point="titleNode">${messages.title}</h1>
      <div id="userArea" data-dojo-type="books/application/user-area/user-area"></div>
    </div>
    <div id="body">
    </div>
    <div id="footer">
    </div>
  </div>
</div>
